.topContainer {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    font-size: 1.2em;
    justify-content: center;
    font-weight: 300;
}

.selectContainer {
    padding: 1%;
    border-radius: 5px;
    font-weight: 300;
    font-size: 0.8em;
    width: 15%;
}

.btn {
    margin-left: 2%;
    padding: 1%;
    border-radius: 5px;
    background: rgb(150, 146, 255);
    font-weight: 400;
    font-size: 0.8em;
    outline: none;
    color: white;
    width: 15%;
    border: 1px solid rgb(150, 146, 255);
    cursor: pointer;
}

.displayContainer {
    margin-top: 2%;
    border: 1px solid rgb(180, 180, 180);
    padding: 1%;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    display: flex;
}

.row {
    margin-right: 1%;
}

.column {
    display: flex;

    flex-direction: column;
}

.error {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    color: rgb(230, 30, 30);
    margin-top: 2%;
    font-weight: 500;
}